
#to run from root: execute in Terminal docker-compose -f docker/docker-compose.yml up --build
services:
  backend:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: snakebackendcontainer
    ports:
      - "8080:8080"
    depends_on:
      - mongoDB
    secrets:
      - MONGO_URI_FILE
      - ENCRYPTION_KEY_FILE
    environment:
      # Instead of hardcoding values, point to secret file paths
      MONGO_URI_FILE: /run/secrets/mongo_uri
      ENCRYPTION_KEY_FILE: /run/secrets/encryption

  mongoDB:
    image: mongo:5
    restart: always

    environment:
      TZ: "Europe/Berlin"
      MONGO_INITDB_ROOT_USERNAME: snake_backend
      MONGO_INITDB_ROOT_PASSWORD: snakesLikeToHisss222
      MONGO_INITDB_DATABASE: snake_userData
    # for local development (ich musste 27018 freigeben, weil auf arbeitsrechener 27017 belegt ist)
    container_name: mongoDB
    ports:
     - "27018:27017"

  #access mongo db docker container:
  #docker exec -it mongoDB bash
  #mongosh "mongodb://snake_backend:snakesLikeToHisss222@mongoDB:27017/snake_userData?authSource=admin"
  #snake_userData> show collections
  #find all documents:
  #snake_userData> db.users.find({}, { _id: 1 })
  #delete specific document via id:  db.users.deleteOne({ _id: ObjectId("692990015d9c7365c72d495b") });


secrets:
  MONGO_URI_FILE:
    file: ../backend/src/main/resources/mongo_uri.txt
  ENCRYPTION_KEY_FILE:
    file: ../backend/src/main/resources/encryption.txt
